@font-face {
   font-family: 'Lobster';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/pendmr/devel/training/personal/mpmmf.github.io/fonts/Lobster/regular.ttf') format('truetype');
}
